.prose * ::before,
.prose * ::after {
  display: none !important;
}

.prose p > code {
  padding: 3px 5px;
  color: #444;
  background: #F6F9FC;
  border: 1px solid #dde1e3;
  border-radius: 3px;
  white-space: nowrap;
}

.dark .prose p > code {
  color: #fff;
  background: #000;
  border: 1px solid #666;
  opacity: 0.75;
}