.prose * ::before,
.prose * ::after {
  display: none !important;
}

.prose p > code,
.prose li > code {
  padding: 3px 5px;
  color: #444;
  background: #F6F9FC;
  border: 1px solid #dde1e3;
  border-radius: 3px;
}

.dark .prose p > code {
  color: #fff;
  background: #000;
  border: 1px solid #666;
  opacity: 0.75;
}

code.fold {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

code.expand {
  max-height: unset !important;
  -webkit-line-clamp: unset !important;
}