pre[class*='language-'] {
  color: #d4d4d4;
}

.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.selector.class,
.token.function {
  color: #61AEEE;
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.pseudo-class,
.token.important {
  color: #C678DD;
}

.token.module {
  color: #c586c0;
}

.token.attr-value,
.token.class,
.token.string,
.token.property {
  color: #ce9178;
}

.token.punctuation,
.token.attr-equals {
  color: #d4d4d4;
}

.token.unit,
.language-css .token.function {
  color: #d4d4d4;
}

.token.comment,
.token.operator,
.token.combinator {
  color: #6a9955;
}
